.Rproj.user
.Rhistory
.RData
.Ruserdata
STAD94_Final_Paper.pdf
.RDataTmp
STAD94_Final_Paper_cache
test.r
STAD94_Final_Paper_files/figure-latex/unnamed-chunk-6-1.pdf
STAD94_Final_Paper_files/figure-latex/unnamed-chunk-9-1.pdf
